@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-primary: #a04cd9;
  --color-primary-2: #735bb9;
  --color-primary-3: #19144a;
  --color-border: #e5e7e9;
  --color-box: #7c5eca;
  --color-text: white;
  --color-text-2: #d3caed;
  --color-text-inactive: #737373;
  --color-danger: rgb(151, 12, 12);

  --box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

  --width-desktop: 1208px;
  --width-mobile: 350px;

  --font-size-small: 0.7rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.3rem;
}
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-normal);
}
body {
  background-image: linear-gradient(#ffffff, #bda31093);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.divider-horizontal {
  width: 100%;
  height: 2px;
  border-radius: 7px;
  background-color: var(--color-primary-2);
  margin-top: 10px;
  margin-bottom: 10px;
}
