@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.content {
  position: relative;
  height: 800px;
  margin-left: 100px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  word-break: break-word;
}
.content .textBox {
  position: relative;
  max-width: 600px;
}
.content .textBox h2 {
  color: #333;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span {
  color: #d1a545;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p {
  color: #333;
  font-size: large;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #d1a545;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}
.content .imgBox .Adopsi-img {
  max-width: 70%;
  box-shadow: 4px 4px 8px #000000;
}
