#login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-screen > .brand-title {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--color-text);
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
#login-screen > .brand-title > .logo {
  width: 130px;
  height: 130px;
}
#login-screen > .brand-title > h1 {
  font-size: 1.8rem;
}
#login-screen .box-container {
  width: 300px;
  box-shadow: var(--box-shadow);
  border-radius: 7px;
  padding: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 185, 74);
}
#login-screen > .box-container > .box-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#login-screen .box-container > .box-header-container > h3 {
  margin: 0 !important;
  display: inline-block;
  color: var(--color-text);
}
#login-screen .box-container > .box-header-container > .register-button {
  text-decoration: none;
  color: var(--color-text);
}
#login-screen > .box-container > .login-form {
  display: flex;
  flex-direction: column;
}
#login-screen > .box-container > .login-form > input {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 5px;
  border: none;
  border: 1px solid var(--color-border);
  border-radius: 7px;
}
#login-screen > .box-container > .login-form > .password-input {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 9px;
  background-color: rgb(255, 255, 255);
  margin-top: 5px;
  border: none;
  border: 1px solid var(--color-border);
  border-radius: 7px;
}
#login-screen > .box-container > .login-form > .password-input > input {
  flex: 1;
  border: none;
  outline: none;
}
#login-screen > .box-container > .login-form > .password-input > img {
  height: 25px;
  width: 20px;
}
#login-screen > .box-container > .login-form > .submit {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 30px;
  height: 30px;
}
#login-screen > .box-container > .login-form > .submit > .submit-button {
  width: 80px;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  background-color: #cdf0ad;
}
#login-screen > .box-container > .login-form label {
  margin-top: 15px;
  color: var(--color-text);
}
#login-screen > .box-container > .fb-container {
  color: aliceblue;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
#login-screen > .box-container > .fb-container > text {
  padding-bottom: 10px;
}
#login-screen > .box-container > .fb-container > .facebookBtn {
  height: 30px;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3d66be;
  border: none;
  border-radius: 2px;
}
#login-screen > .box-container > .fb-container > .facebookBtn > img {
  height: 22px;
  width: 22px;
}
#login-screen > .box-container > .fb-container > .facebookBtn > text {
  padding-left: 30px;
  color: aliceblue;
}

@media screen and (max-width: 800px) {
  #login-screen .box-container {
    width: 70%;
  }
}
