#component-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 10px 18px #00000025;
}
#component-navbar > .brand-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#component-navbar > .brand-container > .brand-logo {
  height: 80px;
  width: 80px;
}
#component-navbar > .brand-container > text {
  font-size: 2rem;
  font-weight: bolder;
  color: linear-gradient(#fff0ce, #d37407);
}
